{% extends "index.html" %}
{% load static %}

{% block principal %}
    <div class="container div-body">
        <div class="row justify-content-center">
            <div class="col-4 ">
                <img src="{{ card.foto.url }}" class="w-100" alt="...">
            </div>
            <div class="col-4">
                <strong>Nome:</strong> {{ card.nome }}<br>
                <strong>Espécie:</strong> {{ card.especie }}<br>
                <strong>Idade:</strong> {{ card.idade }} anos<br>
                <strong>Raça:</strong> {{ card.raça }}<br>
                <strong>Histórico de Saúde:</strong> {{ card.histórico_de_saúde }}<br>
            </div>
        </div>
    </div>
{% endblock %}