{% extends 'index.html' %}

<main class="main">
  {% block principal %}
  <h2 class="texto__titulo"><strong>Contribuintes</strong></h2><br>
  <div class="container">
    <div class="row justify-content-center">
      {% for contribuinte in cadastro %}
      <div class="mb-2 mt-2 col-lg-3">
        <div class="card align-items-center">
          <div class="card_foto_2">
            <img src="{{contribuinte.foto.url}}" alt="">
          </div>
          <div class="card_informacao">
            <h5 class="card-title"><strong>{{ contribuinte.nome_completo }}</strong></h5>
          </div>
          <div class="card_informacao">
            <p class="card-text">{{ contribuinte.get_funcao_display }}</p>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="container justify-content-center">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h5 class="text-center">Não encontrado.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
  {% endblock %}
</main>