{% extends "index.html" %}
{% load bootstrap5 %}

{% block principal %}

<br><br>

  <div class="container justify-content-center">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="topicos">Preencha o cadastro para Adoção de Animal</h1><br>
        {% if sucesso %}
        <div class="alert alert-success" role="alert">
          <p>Pedido enviado com sucesso.</p>
        </div>
          
        {% else %}
        
        <form action="" method="POST"  id="form" enctype="multipart/form-data">
            
          {% csrf_token %}
          {% bootstrap_form form %}

          <div class="card_botao">
            <input href="{% url 'Abrigo_de_Animais' %}" type="submit" value="Enviar Pedido" class="botao_cadastro">
            <a href="{% url 'Abrigo_de_Animais' %}" class="botao_cadastro">Voltar para Página Inicial</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  <br><br><br>

{% endblock %}


