{% extends "index.html" %}

{% block principal %}

{% if pesquisa %}
<h1>Pesquisar por {{ pesquisa }}</h1>
<br>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for animal in animais %}
    <div class="col-4">
      <div class="card h-100 card-all">
        <img src="{{ card.foto.url }}" class="w-100" alt="...">
        <div class="card-body card-details">
          <h5 href="{% url 'Card_Animais' animal.id %}" class="card-title">{{ animal.nome }}</h5>
          <p href="{% url 'Card_Animais' animal.id %}" class="card-text">{{ animal.especie }}</p>
        </div>
      </div>
      {% empty %}
      <div class="container justify-content-center">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h5 class="text-center">Não encontrado.</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <h1>Nenhum animal encontrado.</h1>
  {% endif %}

  {% endblock %}