{% extends 'index.html' %}
{% load static %}

{% block principal %}


<div class="container justify-content-center">

  <h1  class="titulo__descricao"><strong>Abrigo de Animais</strong></h1><br>

  <p class="texto__descricao">
    O <strong>Abrigo de Animais</strong> resgata animais que passam fome, frio e medo pelas ruas da cidade. Hoje, o abrigo se encontra no espaço muito pequeno, devido a quantidade de animais que estão sem lar. São mais de 250 animais, todos vacinados, castrados e vermifugados. <br>
    Nosso trabalho é buscar e  tirar estes animais que estão situação de risco e fornecer os cuidados básicos como abrigo, alimentação, recuperação física e emocional, devolvendo-lhes dignidade e segurança, tudo para que possa então estar pronto para a adoção. Buscamos tutores que se comprometam com uma adoção responsável, com cuidados e carinho. Quem convive sabe a felicidade que é ter um animal em casa e só tendo um lar e um dono amoroso um cão é realmente feliz!<br>
     Abrimos as portas para receber os interessados em adotar. Seja nosso coloborador ou voluntario. Venham nos conhecer! :).
  </p>

</div>

{% endblock %}
    


