{% extends "index.html" %}
{% load bootstrap5 %}

{% block principal %}

<h1 class="form_cadastro"><strong>Cadastro de Animais</strong></h1>
  
{% if sucesso %}
  <p class="alert alert-success"> Cadastro realizado com sucesso! </p>
{% else %}

<form class="form_animal" action="" method="POST" id="form" enctype="multipart/form-data">
    
  {% csrf_token %}
  {% bootstrap_form form %}

  <div class="card_botao">
    <button type="submit" class="botao_cadastro">Inserir animal</button>
  </div>

</form>

{% endif %}
{% endblock %}